
@{
    ViewData["Title"] = "GetPerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Person

<h1>Your Star Wars Character is:</h1>
<br />


<h1>NAME: @Model.Name</h1>
@if(Model.Species == null) {
<h1>SPECIES: No species type in database</h1>
} else {
<h1>SPECIES: @Model.Species</h1>
}
<h1>GENDER: @Model.Gender</h1>
<h1>HOMEWORLD: @Model.HomePlanet</h1>