@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Star Wars Character and Planet Collection!</h1>
</div>
<br />
<div class="text-center">
    <p>Click on Get Person to get details on a Star Wars character!</p><br />
    <p>or</p><br />
    <p>Click on Get Planet to get details on a Star Wars planet!</p>
</div>
